.nav-titles{
    display: flex;
    align-items: center;
}


.nav-titles li{
    padding: 0.5em 1.1em;
    transition: all 0.4s ease-in;
    border-radius: 5px;
}
.nav-titles li:hover{
    background-color: rgba(255, 255, 255, 0.301) ;
}

.nav-logo img{
    object-fit: contain;
}


.hero-extra{
    height: 40vh;
    background-image: url('/assets/blog-page/hero.png');
    background-position: center;
}
.footer-main-section{
    gap: 10em;

}

.site-map{
    display: flex;
    flex-direction: column;
}
.site-map>div{
    display: flex;
    margin: 1em 0;
    justify-content: space-between;
    width: 800px;
}.site-map>div>div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.site-map ul{
    list-style: none;
    line-height: 2;
    font-size: 13.6px;
}
.subscribe{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.subscribe>div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13.6px;

}
.subscribe>div>p:last-child{
    font-size: 10px;
}
.footer-download>div{
    display: flex;
    gap: 1em;
}

.copyright-section{
    margin-top: 3em;
    font-size: 12px;
}
.copyright-section>div{
    display: flex;
    gap: 2em;
    
}